<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">

        <input type="text" [(ngModel)]="keyword" (keyup)="searchProduct()" style="border-radius: 4px ; height: 40px">
        <button (click)="searchProduct()" class="btn btn-outline-success" style="margin-left: 30px ; border-color: darkturquoise">
          <i class="bi bi-search" style="color: darkturquoise" ></i>
        </button>

      </div>
      <h3>Products component</h3>

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>  <th>Price</th>  <th>Cheked</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>

            <button (click)="handleCheckProduct(product)" class="btn btn-outline-info">
              <i [class]="product.checked ? 'bi bi-check' : 'bi bi-circle'"></i>
            </button>

          </td>
          <td>
            <button (click)="handelDelete(product)" class="btn btn-outline-danger">
              <i class="bi bi-trash"></i>

            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
