<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">

        <input type="text" [(ngModel)]="appStat.productState.keyword" (keyup)="searchProduct()" style="border-radius: 4px ; height: 40px">
        <button (click)="searchProduct()" class="btn btn-outline-success" style="margin-left: 30px ; border-color: darkturquoise">
          <i class="bi bi-search" style="color: darkturquoise" ></i>
        </button>

      </div>
      <h3>Products component</h3>

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>  <th>Price</th>  <th>Cheked</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of appStat.productState.products">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>

            <button (click)="handleCheckProduct(product)" class="btn btn-outline-info">
              <i [class]="product.checked ? 'bi bi-check' : 'bi bi-circle'"></i>
            </button>

          </td>
          <td>
            <button (click)="handleEdit(product)"  class="btn btn-outline-info">
              <i class="bi bi-pencil"></i>

            </button>
          </td>
          <td>
            <button (click)="handelDelete(product)" class="btn btn-outline-danger">
              <i class="bi bi-trash"></i>

            </button>
          </td>




        </tr>
        </tbody>
      </table>
      <ul class=" nav nav-pills">
        <li *ngFor="let page of [].constructor(this.appStat.productState.totalPages); let i=index">
          <button (click)="handleGotoPage(i+1)"
                  [ngClass]="this.appStat.productState.currentPage == (i+1)? 'btn btn-success m-1' :
                  'btn btn-outline-success m-1'"
                  >
           {{(i+1)}}
          </button>

        </li>

      </ul>
    </div>
  </div>

</div>
